.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;

    .canvas {
        position: fixed;
        top: 0;
        z-index: -1;
        height: 100vh;
        width: 100vw;
    }

    .landing-element {
        pointer-events: none;
        user-select: none;
        
        .default {
            margin: 2rem 0;
        }
    }
}

@media only screen and (max-width: 900px) {
    .landing-element {
        .mobile {
            margin-top: 10vh;
            font-size: 4vw;
        }
    }
}

@media only screen and (min-width: 901px) {
    .mobile {
        display: none;
    }
}
