.tag-date {
    margin: 0 4rem 3rem auto;

    position: fixed;
    right: 0;
    bottom: 0;
    writing-mode: vertical-lr;
    text-orientation: sideways;

    font-size: 2rem;
    font-weight: 400;
}

.tag-text {
    margin: 3rem 4rem 0 auto;

    position: fixed;
    right: 0;
    top: 0;
    writing-mode: vertical-lr;
    text-orientation: sideways;

    font-size: 2rem;
    font-weight: 400;
}

@media only screen and (max-width: 900px) {
    .tag-text {
        margin: 2rem 1rem 0 0;
        top: 0;
        writing-mode: vertical-lr;
        text-orientation: sideways;
            
        font-size: 1rem;
    }

    .tag-date {
        margin: 2rem 1rem 0 0;

        top: 15%;

        bottom: unset;
        writing-mode: vertical-lr;
        text-orientation: sideways;
            
        font-size: 1rem;
    }
}