.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    .contact-container {
        width: 60vw;
        .contact-form {
            display: flex;
            flex-direction: column;

            .contact-form-element {
                display: flex;
                flex-direction: column;

                label {
                    padding: 1rem 0 0.5rem 0;
                    font-size: 2rem;
                }
            }

            .contact-form-button {
                padding-top: 2rem;
            }
        }

        p {
            a {
                font-weight: 700;
                cursor: pointer;
                color: inherit;
                text-decoration: none;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #bbbbbb;
                    transform-origin: center;
                    transform: translate(-50%, 0) scaleX(0);
                    transition: transform 0.3s ease-in-out;
                }
                &:hover::before {
                    transform: translate(-50%, 0) scaleX(1);
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .contact-page {
        height: unset;

        &:last-child {
            margin-bottom: 4rem;
        }
        .contact-container {
            margin-top: 4rem;
        }
    }
}
