.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    .contact-container {
        width: 60vw;
        .contact-form {
            display: flex;
            flex-direction: column;

            .contact-form-element {
                display: flex;
                flex-direction: column;

                label {
                    padding: 1rem 0 0.5rem 0;
                    font-size: 2rem;
                }
            }

            .contact-form-button {
                padding-top: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .contact-page {
        height: unset;

        &:last-child {
            margin-bottom: 4rem;
        }
        .contact-container {
            margin-top: 4rem;
        }
    }
}