.home {
    position: fixed;
    left: 0;
    top: 0;
    margin: 2rem;

        text-decoration: none;
        color: inherit;

        font-size: 2rem;
        text-transform: uppercase;
    }


@media only screen and (max-width: 900px) {
    .home {
        position: relative;
        // left: 50%;
        text-align: center;
        z-index: 1;
        margin: 2rem 0 0 0;

            font-size: 5vw;
            font-weight: 700;
    }
}