.navbar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 4rem 0 auto;

    .navbar-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0;

        .link {
            list-style-type: none;
            padding: 1em 0;
            font-size: 3rem;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;

            color: inherit;

            position: relative;

            &::before {
                content: "";
                left: 0;
                right: 0;
                height: 2px;
                top: 50%;
                position: absolute;
                transform: translateY(-50%) scaleX(0);
                background: #bbbbbb;
                transition: all 0.2s;
                // opacity: 0.5;
            }

            &:hover::before {
                transform: translateY(-50%) scaleX(1);
            }
        }

        .link-active {
            &::before {
                transform: translateY(-50%) scaleX(1);
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        bottom: 0;
        top: unset;
        z-index: 1;
        right: 50%;
        transform: translate(50%, 0);

        margin: 0;

        .navbar-items {
            width: 100vw;
            margin: 0;
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
            flex-direction: unset;

            .link {
                font-size: 1.5rem;
                user-select: none;
                -webkit-tap-highlight-color: transparent;

                &:first-child {
                    margin-left: 2rem;
                }

                &:last-child {
                    margin-right: 2rem;
                }
            }
        }
    }
}